body {
    font-family: 'Nunito', sans-serif !important;
}

#app {
    padding-top: 3em;
}





/* HELPERS */

.align-content-center {
    display: flex;
    justify-content: center;
}

form.pure-form .fieldset {
    padding-bottom: .5em;
}
form.pure-form .fieldset > * {
    width: 100%;
}

form.pure-form  .is-invalid { color: red;}






.first-section {
    position: relative;
    width: 100%; height: 20em;
    background-image: url("/imgs/books_01.jpeg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.first-section .wrap {
    position: absolute; z-index: 20;
    top: 50%; left: 50%;
    transform: translate( -50%, -50% );
}
.first-section .title {
    text-align: center;
    font-size: 500%;
    font-weight: 200;
    color: white; /*lightgrey;*/
}
.first-section:before {
    content: " ";
    position: absolute;
    bottom: 0; left: 0; right: 0;
    height: 5em;
    background: linear-gradient(0deg, rgba(255,255,255,.5) 0, rgba(255,255,255,0) 100%);
}

.first-section.min {
    height: 9em;
}
.first-section.min .title {
    text-align: center;
    font-size: 300%;
}









#archives {
    width: 100%;
    min-height: 300px;
    padding: 1em; margin: 1em 0;
    border: 1px solid gray;
    border-radius: 4px;
    background: #ececec;
}

#archives .archive {
    position: relative;
    display: inline-block;
    width: 24%; min-height: 3.5em;
    margin:  .3em .5%;
    padding: .3em;
    border: 1px solid darkgray;
    border-radius: 3px;
    background: lightgray;
    font-size: 12px;
}
#archives .archive .name {
    font-weight: 800;
    text-align: center;
    font-size: 10px;
}
#archives .archive .info {
    min-height: 1.5em;
    text-align: center;
}
#archives .archive .counts {
    display: flex;
    width: 100%;
}
#archives .archive .counts > div {
    margin: .2em 1em;
    width: 33%;
}

#archives .archive .counts span {
    display: block;
}
#archives .archive .counts b {
    display: block;
    text-align: right;
}
#archives .archive .time {
    text-align: right;
    margin: .2em 1em;
}
#archives .archive .status_ico {
    position: absolute; top: 0; right: 0;
    width: 12px; height: 12px;
    cursor: pointer;

    border-top-right-radius: 3px;
    border-bottom-left-radius: 12px;
    /*background: rgba(64,200,44,.5);*/
}
#archives .archive .status_ico.in_disk { z-index: 501; width: 15px; height: 15px; border-bottom-left-radius: 15px; }
#archives .archive .status_ico.in_db { z-index: 502;  }

.in_disk { background: rgb(44,64,200); }
.in_db   { background: rgb(64,200,44); }

.labels .in_db,
.labels .in_disk {
    display: inline-block;
    width: .7em; height: .7em;
    border-radius: 50%;
}

#archives .archive.inprogress {
    border: 1px solid blue;
    background: lightblue;
}
#archives .archive.error {
    border: 1px solid red;
    background: #f6993f;
}
#archives .archive.haserror {
    border: 1px solid green;
    background: #c6f151;
}
#archives .archive.success {
    border: 1px solid green;
    background: lightgreen;
}


