/*
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,500,300italic,400italic,700,700italic);
*/
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

:root {
    --color-text: slategray;
    --color-btn-text: rgba(47,79,79,.9);
    --color-btn-border-hover: slategray;
    --color-btn-border: slategray;
    --color-link-text: rgb(0, 120, 231); /*#0078e7;*/
    --color-link-navs: slategray;

    --color-success-text: rgba(107,151,35, 1);
    --color-warning-text: rgba(251,157,35, 1);


    --colot-nav-bg: slategray;
    --color-nav-text: lightgrey;
    --color-text-error: lightcoral;
    --color-borders: slategray;
    --color-table-header: slategray;
}

* {
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}


.bg-warning { background-color: var(--color-warning-text); }


/* TYPOGRAPHY */
h1 { color: var(--color-text); font-size: 2.5rem; }
h2 { color: var(--color-text); font-size: 2rem; }
h3 { color: var(--color-text); font-size: 1.375rem; }
h4 { color: var(--color-text); font-size: 1.125rem; }
h5 { color: var(--color-text); font-size: 1rem; }
h6 { color: var(--color-text); font-size: 0.875rem; }

a {
    color: var(--color-link-text);
}
a.button {
    display: inline-block;
    margin: .1em .3em;
    padding: .5em 1em;
    background: transparent;
    border: none transparent;
    border-radius: 2px;
    text-decoration: none;
    font-weight: 400;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
}
a.button:hover {
    background: rgba(0, 120, 231,.16);
}


.font-ico { font-size: 180%; text-decoration: none; }
.font-big { font-size: 120%;}
.font-small { font-size: 80%;}
.font-smallest { font-size: 70%; }
.font-light { font-weight: 300; }
.font-regular { font-weight: 400; }
.font-heavy { font-weight: 700; }
.font-italic { font-style: italic; }
.no-wrap { white-space: nowrap; }
.float-left  { display: inline-block; float: left;}
.float-right { display: inline-block; float: right;}

/* POSITIONING */
.left  { text-align: left; }
.right { text-align: right; }
.center { text-align: center; margin-left: auto; margin-right: auto; }
.justify { text-align: justify; }

.error-text {
  color: var(--color-text-error);
}

.log {
    font-size: 12px;
    color: black;
    background-color: lightgray;
    padding: 10px;
    font-family: "Courier New", "Arial", sans-serif;
}
.log .error { color: darkred; }
.log .info  { color: darkblue; }
.log .debug { color: dimgray; }

pre {
  font-size: 12px;
  color: black;
  background-color: #CCCCCC;
  padding: 10px;
    font-family: "Courier New", "Arial", sans-serif;
}
hr { border:0; border-bottom-width: 1px; border-bottom-style: solid; border-color: var(--color-borders); }
hr.red {border-color: var(--color-text-error); }

.hidden {
    display: none;
}

.btn {
  display: inline-block;
  color: var(--color-btn-text);
  font-size: 100%;
  padding: .1rem .9rem .13rem;
  margin: .05rem .5rem .15rem 0;
  text-decoration: none;
  background: linear-gradient(to bottom, rgba(0, 0, 0, .05) 0%, rgba(0, 0, 0, 0.15) 100%);
  border: 1px solid var(--color-btn-border);
  line-height: 1.4rem;
  border-radius: 2px;
  cursor: pointer;
}
.btn:hover {
  border: 1px solid var(--color-btn-border-hover);
}
.btn.btn-xs {
  font-size: 65%;
  font-weight: bold;
  padding: .005rem .3rem;
}
.btn.btn-sm {
  font-size: 82%;
  padding: .03rem .6rem;
}
.btn.btn-lg {
  font-size: 120%;
  padding: .3rem 1.5rem;

}
.btn.btn-info {
  background: linear-gradient(to bottom, rgba(0, 0, 0, .05) 0%, rgba(35,107,201, 0.25) 100%);
}
.btn.btn-success {
  background: linear-gradient(to bottom, rgba(0, 0, 0, .05) 0%, rgba(107,201,35, 0.45) 100%);
}
.btn.btn-warning {
  background: linear-gradient(to bottom, rgba(251,157,35, .1) 0%, rgba(251,157,35, 0.45) 100%);
}

/* NAVs */

nav.top {
    position: fixed;
    z-index: 999;
    top: 0; left: 0; width: 100%; height: 3em;
    border-bottom: 1px solid var(--color-borders);
    background: white;
}
nav.top > .container {
    display: flex;
    justify-content: space-between;
    height: inherit;
    line-height: 3em;
    padding: 0;
}

nav.top > .container > * {
    line-height: normal;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
nav.top .app-name {
    font-weight: 800;
}





/* TABS */
.tabs {
    margin: 3rem -1em;
}
.tabs-header {
    border-bottom: 1px solid var(--color-borders);
    display: flex;
    justify-content: start;
}
.tabs-header a {
    color: var(--color-link-navs);
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    padding: .5em 1em;
    text-decoration: none;
    /*font-size: 115%;*/
    font-weight: 800;
}
.tabs-header a.active {
    border-bottom: 2px solid var(--color-borders);
}
.tabs-content {
    display: none;
    padding: 2em 1em;
}
.tabs-content.active {
    display: block;
}


.message {
  border-width: 0;
  border-left-width: 4px;
  border-style: solid;
  border-color: var(--color-btn-border);
  padding: .5rem 1rem .3rem 1.5rem;
  margin: 1.5rem 0;
}
.message h3 {
  margin-top: .5rem;
  color: var(--color-btn-border);
}
.message.success { border-color: var(--color-success-text); }
.message.success h3 { margin-top: .5rem; color: var(--color-success-text); }
.message.warning { border-color: var(--color-warning-text); }
.message.warning h3 { margin-top: .5rem; color: var(--color-warning-text); }


.preview-img {
  display: inline-block;
  /*width: 12rem;*/ /*height: 6.75rem;*/ /* 16*9 */
  /*border: 1px solid var(--color-btn-border);*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.preview-small {
  width: 8rem; height: 4.5rem;
}


.table {
  border-spacing: 0 0;
  margin-top: 1rem; margin-bottom: 1rem;
}
.table th {
  background-color: var(--color-table-header);
}
.table th,
.table td {
  padding: .25rem .5rem;
}
.table.table-bordered {
  border-right: 1px solid var(--color-borders);
  border-bottom: 1px solid var(--color-borders);
}
.table.table-bordered th,
.table.table-bordered td{
  border-left: 1px solid var(--color-borders);
  border-top: 1px solid var(--color-borders);
}

/* width: step 5% 10% 33% */
.w-100{ width: 100%; }
.w-90 { width:  90%; }
.w-85 { width:  85%; }
.w-80 { width:  80%; }
.w-75 { width:  75%; }
.w-70 { width:  70%; }
.w-66 { width:  66%; }
.w-65 { width:  65%; }
.w-55 { width:  55%; }
.w-50 { width:  50%; }
.w-45 { width:  45%; }
.w-40 { width:  40%; }
.w-35 { width:  35%; }
.w-33 { width:  33%; }
.w-30 { width:  30%; }
.w-25 { width:  25%; }
.w-20 { width:  20%; }
.w-15 { width:  15%; }
.w-10 { width:  10%; }
.w-5  { width:   5%; }

.border { border: 1px solid lightgrey; }
.rounded { border-radius: .25rem; }

.p-0 { padding: 0; }
.p-1 { padding: 0.5rem; }
.p-2 { padding: 0.75rem; }
.p-3 { padding: 1rem; }
.p-4 { padding: 1.5rem; }
.p-5 { padding: 3rem; }
.pt-0 { padding-top: 0; }
.pt-1 { padding-top: 0.5rem; }
.pt-2 { padding-top: 0.75rem; }
.pt-3 { padding-top: 1rem; }
.pt-4 { padding-top: 1.5rem; }
.pt-5 { padding-top: 3rem; }
.pl-0 { padding-left: 0; }
.pl-1 { padding-left: 0.5rem; }
.pl-2 { padding-left: 0.75rem; }
.pl-3 { padding-left: 1rem; }
.pl-4 { padding-left: 1.5rem; }
.pl-5 { padding-left: 3rem; }
.pr-0 { padding-right: 0; }
.pr-1 { padding-right: 0.5rem; }
.pr-2 { padding-right: 0.75rem; }
.pr-3 { padding-right: 1rem; }
.pr-4 { padding-right: 1.5rem; }
.pr-5 { padding-right: 3rem; }
.pb-0 { padding-bottom: 0; }
.pb-1 { padding-bottom: 0.5rem; }
.pb-2 { padding-bottom: 0.75rem; }
.pb-3 { padding-bottom: 1rem; }
.pb-4 { padding-bottom: 1.5rem; }
.pb-5 { padding-bottom: 3rem; }
.py-0 { padding-top: 0; padding-bottom: 0; }
.py-1 { padding-top: 0.5rem; padding-bottom: 0.5rem; }
.py-2 { padding-top: 0.75rem; padding-bottom: 0.75rem; }
.py-3 { padding-top: 1rem; padding-bottom: 1rem; }
.py-4 { padding-top: 1.5rem; padding-bottom: 1.5rem; }
.py-5 { padding-top: 3rem; padding-bottom: 3rem; }
.px-0 { padding-left: 0; padding-right: 0; }
.px-1 { padding-left: 0.5rem; padding-right: 0.5rem; }
.px-2 { padding-left: 0.75rem; padding-right: 0.75rem; }
.px-3 { padding-left: 1rem; padding-right: 1rem; }
.px-4 { padding-left: 1.5rem; padding-right: 1.5rem; }
.px-5 { padding-left: 3rem; padding-right: 3rem; }

.m-0 { margin: 0; }
.m-1 { margin: 0.5rem; }
.m-2 { margin: 0.75rem; }
.m-3 { margin: 1rem; }
.m-4 { margin: 1.5rem; }
.m-5 { margin: 3rem; }
.mr-0 { margin-right: 0; }
.mr-1 { margin-right: 0.5rem; }
.mr-2 { margin-right: 0.75rem; }
.mr-3 { margin-right: 1rem; }
.mr-4 { margin-right: 1.5rem; }
.mr-5 { margin-right: 3rem; }
.ml-0 { margin-left: 0; }
.ml-1 { margin-left: 0.5rem; }
.ml-2 { margin-left: 0.75rem; }
.ml-3 { margin-left: 1rem; }
.ml-4 { margin-left: 1.5rem; }
.ml-5 { margin-left: 3rem; }
.mt-0 { margin-top: 0; }
.mt-1 { margin-top: 0.5rem; }
.mt-2 { margin-top: 0.75rem; }
.mt-3 { margin-top: 1rem; }
.mt-4 { margin-top: 1.5rem; }
.mt-5 { margin-top: 3rem; }
.mb-0 { margin-bottom: 0; }
.mb-1 { margin-bottom: 0.5rem; }
.mb-2 { margin-bottom: 0.75rem; }
.mb-3 { margin-bottom: 1rem; }
.mb-4 { margin-bottom: 1.5rem; }
.mb-5 { margin-bottom: 3rem; }
.my-0 { margin-top: 0; margin-bottom: 0; }
.my-1 { margin-top: 0.5rem; margin-bottom: 0.5rem; }
.my-2 { margin-top: 0.75rem; margin-bottom: 0.75rem; }
.my-3 { margin-top: 1rem; margin-bottom: 1rem; }
.my-4 { margin-top: 1.5rem; margin-bottom: 1.5rem; }
.my-5 { margin-top: 3rem; margin-bottom: 3rem; }
.mx-0 { margin-left: 0; margin-right: 0; }
.mx-1 { margin-left: 0.5rem; margin-right: 0.5rem; }
.mx-2 { margin-left: 0.75rem; margin-right: 0.75rem; }
.mx-3 { margin-left: 1rem; margin-right: 1rem; }
.mx-4 { margin-left: 1.5rem; margin-right: 1.5rem; }
.mx-5 { margin-left: 3rem; margin-right: 3rem; }



.table {
    width: 100%;
    line-height: 1em;
    font-size: 90%;
}
.table .row {
    padding-top: .5em;
    padding-bottom: .5em;
}
.table .row.header {
    background: var(--color-text);
    color: white;
    font-weight: 600;
}
.table .row.even {
    background: #f6f6f6;
}
.table .row > * {
    vertical-align: middle;
}


    /*  forms from purecss

    .form {
      margin-top: 1.5rem;
      margin-bottom: 3rem;
    }
    .form label {
      font-weight: 700;
      font-size: 0.85rem;
    }
    .form .row {
      margin-top: .75rem;
      padding-bottom: .75rem;
    }
    .form .row:has(.error-text){
      border: 1px solid lightcoral;
      background-color: lightcoral;
    }
    .form .error-text{
      font-size: 0.85rem;
      margin-top: 0;
    }
    .form input,
    .form textarea{
      padding-left: .5rem;
    }
    .form .form-header {
      margin-top: 0;
    }
    .form .form-header h3 {
      margin-top: 0;
    }
    */






/* ==== GRID SYSTEM ==== */


.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1em;
}
/*
.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
*/

.row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}
.row.center {
  justify-content: center;
  text-align: inherit;
}
.row [class^="col"] {
  margin: 0 2%;
  min-height: 0.125rem;
}

.col-1  { width: 4.33%; }
.col-2  { width: 12.66%; }
.col-3  { width: 21%; }
.col-4  { width: 29.33%; }
.col-5  { width: 37.66%; }
.col-6  { width: 46%; }
.col-7  { width: 54.33%; }
.col-8  { width: 62.66%; }
.col-9  { width: 71%; }
.col-10 { width: 79.33%; }
.col-11 { width: 87.66%; }
.col-12 { width: 96%; }


.row::after {
  content: "";
  display: table;
  clear: both;
}


/*  .sm  */
@media only screen and (max-width: 920px) {  /* 33.75em =  540px */
    .container {
    width: 100%;
    }
    .col-sm-1  { width: 4.33%; }
    .col-sm-2  { width: 12.66%; }
    .col-sm-3  { width: 21%; }
    .col-sm-4  { width: 29.33%; }
    .col-sm-5  { width: 37.66%; }
    .col-sm-6  { width: 46%; }
    .col-sm-7  { width: 54.33%; }
    .col-sm-8  { width: 62.66%; }
    .col-sm-9  { width: 71%; }
    .col-sm-10 { width: 79.33%; }
    .col-sm-11 { width: 87.66%; }
    .col-sm-12 { width: 96%; }

    .bold-sm {
      font-weight: bold;
    }
    .pt-sm-0 { padding-top: 0; }
    .pt-sm-1 { padding-top: 0.5rem; }
    .pt-sm-2 { padding-top: 0.75rem; }
    .pt-sm-3 { padding-top: 1rem; }
    .pt-sm-4 { padding-top: 1.5rem; }
    .pt-sm-5 { padding-top: 3rem; }
    .pl-sm-0 { padding-left: 0; }
    .pl-sm-1 { padding-left: 0.5rem; }
    .pl-sm-2 { padding-left: 0.75rem; }
    .pl-sm-3 { padding-left: 1rem; }
    .pl-sm-4 { padding-left: 1.5rem; }
    .pl-sm-5 { padding-left: 3rem; }
    .pb-sm-0 { padding-bottom: 0; }
    .pb-sm-1 { padding-bottom: 0.5rem; }
    .pb-sm-2 { padding-bottom: 0.75rem; }
    .pb-sm-3 { padding-bottom: 1rem; }
    .pb-sm-4 { padding-bottom: 1.5rem; }
    .pb-sm-5 { padding-bottom: 3rem; }
    .hidden-sm {
    display: none;
    }
}
@media only screen and (min-width: 33.75em) {  /* 540px */
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 60em) {  /* 45em = 720px */
  .hidden-sm {display: block;}
}

@media only screen and (min-width: 73em) { /* 60em = 960px */
  .container {
    width: unset;
    max-width: 1200px; /* 960px; */
  }
}
